body {
    background-color: #FFE6B3;
   // background-image: url(../img/honey-3135266_1280.pixabay.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
